APP_ENV=local
LOG_LEVEL=debug
TZ=America/Los_Angeles

POSTGRES_DB=luna_dt
POSTGRES_USER=luna
POSTGRES_PASSWORD=change_me_local
POSTGRES_PORT=5432

REDIS_PORT=6379
REDIS_MAXMEMORY=256mb
REDIS_MAXMEMORY_POLICY=allkeys-lru
KAFKA_PORT=9092
KAFKA_EXTERNAL_PORT=9094

MINIO_ROOT_USER=luna
MINIO_ROOT_PASSWORD=change_me_local
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

OPENSEARCH_INITIAL_ADMIN_PASSWORD=change_me_local
OPENSEARCH_HTTP_PORT=9200
OPENSEARCH_PERF_PORT=9600

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me_local
KEYCLOAK_PORT=8081

MOCK_PAYMENT_PORT=8089
MOCK_PAYMENT_CALLBACK_PORT=18081
MOCK_PAYMENT_CALLBACK_BASE_URL=http://host.docker.internal:18081

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_local
LOKI_PORT=3100
TEMPO_PORT=3200
OTLP_GRPC_PORT=4317
OTLP_HTTP_PORT=4318

FABRIC_CA_PORT=7054
FABRIC_ORDERER_PORT=7050
FABRIC_PEER_PORT=7051
FABRIC_PEER_EVENT_PORT=7053
