APP_ENV=demo
LOG_LEVEL=info
TZ=UTC

POSTGRES_DB=dtp_demo
POSTGRES_USER=dtp_demo
POSTGRES_PASSWORD=change_me_demo
POSTGRES_PORT=5432

REDIS_PORT=6379
KAFKA_PORT=9092
KAFKA_EXTERNAL_PORT=9094

MINIO_ROOT_USER=dtp_demo
MINIO_ROOT_PASSWORD=change_me_demo
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

OPENSEARCH_INITIAL_ADMIN_PASSWORD=change_me_demo
OPENSEARCH_HTTP_PORT=9200
OPENSEARCH_PERF_PORT=9600

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me_demo
KEYCLOAK_PORT=8081

MOCK_PAYMENT_PORT=8089

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_demo
LOKI_PORT=3100
TEMPO_PORT=3200
OTLP_GRPC_PORT=4317
OTLP_HTTP_PORT=4318
